<% if @people.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@people.errors.count, "error") %>
      prohibited this person from being saved:
    </h2>
 
    <ul>
    <% @people.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div  class="ui card" id="address_card">
  <div class="content">
    <div class="header">Contacts 
    </div>
  </div>
  <div class="content">
    <h4 class="ui sub header">
      New Contact
  </h4><br>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
          <%= form_for @people do |f| %>
            <%= f.label :name %><br>
            <%= f.text_field :name %><br><br>

            <%= f.label :favoriteCity, 'Favorite City' %><br>
            <%= f.text_field :favoriteCity %><br><br>

            <%= f.submit 'Add' %>
          <% end %></br>
          <%= button_to  'Back', people_path, method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




