<% if @people.errors.any? %>
  <div id="error_explanation">
    <div class="ui warning message">
      <div class="header">
        <h2>
          <%= pluralize(@people.errors.count, "error") %>
          prohibited this person from being saved:
        </h2>
      </div>
        <ul id="warning">
          <% @people.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>

<div  class="ui card" id="address_card">
  <div class="content" id="header_content">
    <h3><div class="header">Contacts 
    </div></h3>
  </div>
  <div class="content">
    <h4 class="ui sub header">
      Edit Contact
  </h4><br>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="ui form">
            <%= form_for @people do |f| %>
              <strong><%= f.label :name %></strong><br>
                <%= f.text_field :name %><br><br>

              <strong><%= f.label :favoriteCity, 'Favorite City' %></strong><br>
                <%= f.text_field :favoriteCity %><br><br>

              <div class="ui buttons">
                  <%= f.submit 'Update', class: 'ui button' %>
                <div class="or"></div>
                  <input type="button" value="Back" class="ui positive button backButton"/>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



